.contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  width: 18rem;
  transition: 0.5s;
}

.card:hover {
  background-color: rgba(245, 223, 77);
  border-radius: 0 0 10% 10%;
  transform: scale(1.01);
}

.card > img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

.card-body_botton {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-text {
  display: flex;
  width: 16rem;
  height: 6rem;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
